body{
	margin: 0px auto;
}




nav img{ /*Logo laboratoria*/
	height: 80px;
	width: 150;
	margin-left: 550px;
}

.correo{
  font-family: 'Doppio One', sans-serif;
  display: inline-block;
  float: right;
	margin-top: 20px;
	margin-right: 20px;
	color: #e1e1e1;
}

nav button{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	background-color: transparent;
	border: transparent;
	font-size: 30px;
}

nav button i{
	font-size: 15px;
  display: inline-block;
  float: right;
  margin-right: 20px;

}

#lateral_bar{

 	display: inline-block;
	background-color: #e1e1e1;
	height: 1000px;
  width: 200px;

}


#firts_info {
  display: inline-block;
  vertical-align: top;
	border: 2px solid red;
	width: 1064px;
}
